<!DOCTYPE html>
html(lang="en")
	block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=1000, initial-scale=0.5, maximum-scale=1.5")
		
		meta(name="description" content="Displays search results in a map (Google Maps API).")
		meta(name="author" content="Tiger Mou")
		link(rel="icon" href="/img/favicon.ico")
		
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(src="/js/ie-emulation-modes-warning.js")
		script(type='text/javascript' src='/js/searchFunc.js')
		link(rel='stylesheet' type='text/css' href = '/css/search.css')
		title Search Results
		script.
			var data = !{JSON.stringify(businesses)};
			var region = !{JSON.stringify(region)};
			var query = !{JSON.stringify(query)};
	block content
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-header
				a(href="https://hungryhungry.herokuapp.com")
					b.navbar-brand Hungry Hungry!
		div.results-left.container
			div#page-title
			div#page-category
				script.
					if(['search_query'] in query)
						document.getElementById('page-title').innerHTML = 'Search: 'query['search_query'];
					if(getParameterByName('search_category') != '')
						document.getElementById('page-category').innerHTML = 'Category: 'query['search_category'];
			div#results
				for businessitem, index in businesses
					div.item-index
						h2
							a.business-title(href = businessitem.url) #{index + 1} #{businessitem.name}
						include businessitem
				else
					h2 No results!
		div.map-right
			div#map
	script(src='/js/initMap.js')
	script(async, defer, src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBVlESdZZxU_YrMrVecHOfIrw-eTdzARhU&callback=initMap')